<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/accueil">
      <img src="logo.jpg" alt="" style="height: 40px; width: 50px; margin-right: 20px;"> <!-- Chemin et style du logo -->
      Gestion des Frais
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/accueil" fragment="a-propos" routerLinkActive="active">A propos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/fiche-frais" routerLinkActive="active">Fiche de Frais</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/ligne-frais-hors-forfait" routerLinkActive="active">Frais Hors Forfait</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/frais-forfait" routerLinkActive="active"> FraisForfait </a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Autres
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Aide</a></li>
            <li><a class="dropdown-item" href="#">Contact</a></li>
          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>

